.button-1 {
	position: relative;
  	display: inline-block;
  	border: none;
  	line-height: 25px;
  	padding: 0 20px;
  	&.black {
    	background-color: $col-b;
    	color: $col-w;
  	}
  	&.white {
    	background-color: $col-w;
    	border:1px solid $col-b;
    	color: $col-b;
  	}
}

