//Tu wpisujemy po kolei swoje mixiny 

@mixin wrapper($height){
  min-height: 100%;
  height: auto !important;
  height:100%;
  margin:0 auto -($height);// minus footer height!!!!
  &:after {
    content: "";
    display: block;
    height: $height; //footer height!!!
  }
}

@mixin button-1 {
	position: relative;
  	display: inline-block;
  	border: none;
  	line-height: 25px;
  	padding: 0 20px;
  	&.black {
    	background-color: $col-b;
    	color: $col-w;
  	}
  	&.white {
    	background-color: $col-w;
    	border:1px solid $col-b;
    	color: $col-b;
  	}
}

@mixin button-2 {
	position: relative;
	display: inline-block;
	border: none;
	line-height: 25px;
	padding: 0 20px;
	border-radius: 4px;
	&.black {
		background-color: $col1;
		color: $col-w;
	}
	&.white {
		background-color: $col-w;
		border: 1px solid $col1;
		color: $col1;
	}
}
