// tu tworzymy nowe style w scss 
//to jest główny plik który linkujemy w head do niego podpinasz wszystkie inne pliki scss @importem poniżej

@import "scss/bootstrap",
        "scss/vars",
        "scss/mixin";


//========================================GLOBAL===========================

//deklaracja ujednolicająca body i html dla wszystkich przeglądarek a przy okazji tworzy też przestrzeń konieczną dla wrappera
body,
html {
  height: 100%;
  padding: 0;
  border: none;
  margin:0;
  min-width: 320px;
}

.thumbnail a {
  &:active,
  &:focus {
    background-color: #535353 !important;
  } 
}


//Tu jest wrapper czyli kod css który utrzymuje ci stopkę na dole strony nie zależnie od tego jaki
//szeroki jest kontener w środku a przy okazji masz zastosowanie mixina jak go uruchomić. 
.wrapper {
  position: relative;
  @include wrapper(150px); //tu podajemy wysokość całej stopki w px;
}

// tu dalej piszesz scss trzeba starac sie utrzymac ład i skład - dobrą sprawą są właśnie takie przypisy co gdzie jest

//header

.button-2 {
//  @include button-color (red, #0f0, $col-w, rgba(#fff,0.7), true);
}

header.fixed {
  position: fixed;
  top: -118px;
  left: 0;
  z-index: 10000;
  width: 100%;
  background-color: $col3;
  border-bottom: 1px solid #999;
  margin: 0;
  & + section {
    margin-top: 190px;
  }
}


.logo-main {
  color: $col2;
  font-family: $font2;
  font-size: 1.5em;
  text-align: center;
  padding: 10px;
}


 
//body

.header-middle {
  padding: 10px 0;
}

.navbar-header {
  & > button {
    & > span {
      background-color: $col2;
      transition: all 0.3s;
    }
    &:hover,
    &:focus {
      & > span {
        background-color: darken($col3,20%);
      }
    }
  }
}

footer > .row {
  position: relative;
}

#up {
  position: fixed;
  bottom: 0;
  right: 0;
  border: 2ps solid #fff;
  background: $col2;
  height: 30px;
  width: 30px;
  & > span {
    color: $col3;
  }
}

.navbar-nav >li >a {
    color: $col2;
    font-family: $font2;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: capitalize;
    background-color: $col-3;
    border-color: $col2;
    &:hover,
    &:focus {
      color: $col3;
      background-color: $col2;
    }
    @media(max-width: $screen-md){
      text-align: center;
      font-size: 1.1em;
    }
    @media(max-width: $screen-sm){
      text-align: center;
      font-size: 0.9em;
    }
}

.nav .open > a {
  &:hover,
  &:focus {
    color: $col3;
    background-color: $col2;  
  }
}

.dropdown-menu > li > a {
  color: $col2;
  font-family: $font2;
  font-size: 1.25em;
  font-weight: bold;
  text-transform: capitalize;
  background-color: $col3;
  &:hover,
  &:focus {
    color: $col3;
    background-color: $col2;  
    }
     @media(max-width: $screen-md){
      text-align: center;
      font-size: 1.1em;
    }
    @media(max-width: $screen-sm){
      text-align: center;
      font-size: 0.9em;
    }
}


// slider 

.carousel-caption {
  & h3 {
    color: $col-b;
    font-family: $font1;
    text-transform: uppercase;
    font-size: 1.75em;
  }
  & p {
    color: $col-b;
    font-family: $font2;
  }
}

.form-control {
    font-family: $font2;
    border-color: $col2;
    &:hover { 
      color: $col2;
      border: 1px solid $col2;
      box-shadow: inset 0 1px 1px rgba(171, 116, 66, .075);      
    }
    @include placeholder {
      color: $col2;
    }
    & input {
      color: $col2;
    }
}

// klawisz szukania

.main-search {
  margin: 20px 0;
  text-align: center;
  & > input,
  & >.button {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    border: 1px solid $col2;
    border-radius: 2px;
    color: $col2;
    font-family: $font2;
    font-size: 1.1em;
    line-height: 22px;
  }
}

.button:hover {
  color: $col3;
  background-color: $col2;
}

// klawisz filtrowania

.options {
  color: $col2;
  font-family: $font2;
  font-size: 1.1em;
  border: 1px solid $col2;
  border-radius: 2px;
}


// galeria zdjęć

.gallery {
  background-color: #f1f1f1;
  padding-top: 30px;
  padding-bottom: 30px;
  & .item >img {
    margin: auto;
    position: center;
  }
}

.thumbnail {
   & .caption {
    & h3 {
      color: $col2;
      font-family: $font1;
    }
    & p {
      color: $col2;
      font-family: $font2;  
    }
  }
}


.btn-default {
    color: $col3;
    font-family: $font2;
    background-color: $col2;
    border-color: $col3;
    &:hover {
      color: $col2;
      background-color: $col3;
     border-color: $col2;
    }
}

.btn-primary {
    font-family: $font2;
    background-color: $col2;
    border-color: $col3;

    &:hover {
      color: $col2;
      background-color: $col3;
      border-color: $col2;  
    }
}

//paginacja

.paginacja {
  text-align: center;
  & .pagination >li >a {
    color: $col3;
    font-family: $font2;
    background-color: $col2;
    border-color: $col3; 
    &:hover {
      color: $col2;
      background-color: $col3;
      border-color: $col2;   
    }
  }
}


//footer


.container-footer {
  height: 150px;
  background-color: $col2;
  & .media {
    text-align: center;
    padding: 10px;
  }
  & .foot-info {
    text-align: center;
    font-family: $font2;
    color: $col3;
    font-size: 1.0em;
    text-transform: uppercase;
    margin-bottom: 25px;
    & span {
      text-transform: lowercase;
    }
    & a {
      color: $col3;
      &:hover {
        color: $col2;
        background-color: $col3;
      }
    }
  } 
  & .social {
    & > ul {
      position: relative;
      display: block;
      padding: 0;
      text-align: center;
      list-style-type: none;
      padding: 20px 0;
      & > li {
        position: relative;
        display: inline-block;
        & > a {
          position: relative;
          display: block;
          text-align: center;
          width: 25px;
          height: 25px; 
          border-radius: 4px;
          background-color: $col3;    
          opacity: 1;
          transition: all 0.3s;    
          text-decoration: none; 
          font-size: 15px;
          & > span {
            position: relative;
            display: block;
            top: 0;
            width: 100%;
            line-height: 26px;
            color: $col2;
          }
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}


// strona logowania

.baner {
  min-height: 100px;
  & .logo-login {
    color: $col2;
    font-family: $font2;
    font-size: 1.5em;
    text-align: center;
    padding: 40px;
  }
}

#login {
  & h2,
  & p {
    font-family: $font2;
  }
}

.name,
.password,
.email,
#title {
  min-height: 85px;
  & span {
    text-align: left;
  }
}

.button-3 {
  min-height: 60px;
}

#customer-login {
  margin-bottom: 30px;
}

#login {
  & h2,
  & input {
  position: relative;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  top: 0;
  width: 100%;
  }
}

.row-log  > input {
  font-family: $font2;
  line-height: 1.5em;
  padding: 10px;
}

.lost-password {
  text-align: right;
  & a {
    color: $col2;
    &:hover {
      color: lighten($col2,35%); 
    }
  }
}

.button-3 {
  color: $col3;
  font-family: $font2;
  line-height: 1.5em;
  margin-top: 15px;
  background-color: $col2;
  &:hover {
    color: $col2;
    background-color: lighten($col2,50%);
    border: 1px solid $col2;
  }
}

// podstrona rejestracji

// checboxy bootsrtapowe na stronie logowania zastąpione indywidualnymi

.login {
  & input[type="checkbox"]{
    display: none !important;

    &~label {
      &:before {
        content: "";
        position: relative;
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 1px solid #000;
        cursor:pointer;
      }
      &:after {
        content: "\2718";
        position: absolute;
        left: 14px;
        top: -9px;
        font-size: 21px;
        color: $col-r;
        font-weight: 900;
        display: none;
        cursor:pointer;
      }
    }
    &:checked ~ label:after {
      display: block;
    }
  }
}

.col-xs-11 {
  & p {
    text-align: justify;
  }
}



// podstrona o nas

.onas,
.onas1 {
  position: relative;
  margin: 0px auto;
  padding: 25px;
  margin-bottom: 25px;
  color: $col2;
  font-family: $font2;
  & h1,
  h3 {
    text-transform: uppercase;
    text-align: center;
  }
  & p {
    font-size: 1.25em;
    text-align: justify;
    padding: 15px;
    border-left: 1px solid $col2;
    border-right: 1px solid $col2;
  }
  & #onas-title {
    border: none;
  }
}

.align-center {
  display: inline-block;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid $col2;
}

// podstrona produkty

#title {
  font-size: 1.15em;
  text-align: center;
  color: $col-2;
  font-family: $font2;
  text-transform: uppercase;
  text-decoration: underline;
}



// podstrona referencje

.referencje {
  font-size: 1.15em;
  text-align: center;
  color: $col-r;
  font-family: $font1;
}


.opinie {
  color: $col2;
  font-family: $font2;
  padding: 25px 10px 25px 10px;
  border-bottom: 1px solid $col2;
  & span {
    font-size: 0.75em;
    color: $col-r;
  }
  
}



// podstrona kontakt i iframe


.info-box-map {
  border-left: 1px solid $col2;
  border-right: 1px solid $col2;
}

.map_big {
  padding-top: 50px;
  width: 100%;
  border: 0;
}

.up-line > p {
  color: $col2;
  font-family: $font2;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
}

.down-line {
  & p,
  & a {
  color: $co2;
  font-family: $font1;
  font-size: 1em;
  text-align: center;
  }
}

.kontakt {
  text-align: center;
  padding-top: 50px;
}

.kontakt-form {
  & label {
    color: $col2;
    font-family: $font2;
    font-size: 1.5em;
    text-align: left;
    padding: 40px;
  }
}

#comment {
  color: $col2;
  font-family: $font2;
  font-size: 1.1em;
  text-align: left;
}

.login-kontakt {
  position: relative;
  text-align: right;
 }

.input-text-kontakt {
  width: 85%;
}

.button-3-kontakt {
  color: $col3;
  font-family: $font2;
  line-height: 1.5em;
  margin-top: 15px;
  padding: 10px;
  background-color: $col2;
  width: 85%;
  &:hover {
    color: $col2;
    background-color: lighten($col2,50%);
    border: 1px solid $col2;
  }
}

.kontakt-map {
  margin-bottom: 0px;
}

// podstrona koszyk

.container-basket-middle {
  display: inline-block;
  position: relative;
  float: right;
  & p {
    color: $col2;
    font-family: $font2;
    font-size: 1em; 
  }
}

.container-basket-bottom {
  margin-top: 50px;
  margin-bottom: 50px;
  & p {
    color: $col2;
    font-family: $font2;
    font-size: 1.5em; 
  }
}

.container-basket-payment-middle,
#id {
  margin-top: 50px;
  margin-bottom: 50px;
  color: $col2;
  font-family: $font2;
  font-size: 1.5em; 
}


