$base-font-size: 100% !default;

//================================COLORS===================================


$col-main1: #12410f;
$col-main2: #98c06d;

$col1: #ab7552;

$col2: #535353;
$col3: #fff;

$col11: #ab7552;
$col12: #FF7514;
$col13: #1C50A9;

$col14: #2800F0;


$col-b: #000;
$col-g: #575757;
$col-w: #fff;
$col-r: #ff0000;
//===========================FONTS========================================

$main-font: 'Poppins';
$font-type: 'sans-serif';

$font1: 'Josefin Slab', serif ;
$font2: 'Raleway', sans-serif;

$full: 1044px;
$pleft: 308px;
$pright: 732px;
